<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="CurrentVersion" value="1.0"/>
    
    <add key="ServerQA" value="xx.xx.xxx.xxx"/>
    <add key="ServerStaging" value="xx.xx.xxx.xxx"/>
    <add key="ServerGold" value="xx.xx.xxx.xxx"/>
    <add key="ServerTraining" value="xx.xx.xxx.xxx"/>
    <add key="ServerProduction" value="productionnamegoeshere.com"/>
    
    <add key="EnvPrefix" value="JBV"/>
    <add key="EnvPrefixGold" value="JBVGold"/>
    <add key="EnvPrefixTraining" value="JBVTraining"/>
    
    <add key="ClientIDQA" value="value-goes-here"/>
    <add key="ClientIDStaging" value="value-goes-here"/>
    <add key="ClientIDGold" value="value-goes-here"/>
    <add key="ClientIDTraining" value="value-goes-here"/>
    <add key="ClientIDProdution" value="value-goes-here"/>
    
    <add key="CloneUrl" value="https://namegoeshere/_git/"/>
  </appSettings>

</configuration>
